@media screen and (max-width: $breakpoint-lg) {
  .header {
    &__logo {
      margin: 10px 0 150px 7px;
    }
  }

  .menu {
    .btn-open {
      display: block;
      cursor: pointer;
      margin: auto 10px;
      padding: 10px;
      font-size: 24px;
    }

    &__left {
      position: fixed;
      z-index: 999;
      background-color: $whitesmoke;
      top: 0;
      width: 250px;
      height: 100%;
      left: -250px;
      transition: .3s ease;
      overflow: auto;

      &--show {
        left: 0;
        opacity: 1;
      }
    }

    .nav {
      &__item {
        display: block;

        &--close {
          display: block;
          position: absolute;
          right: 15px;
        }
      }

      &__child {
        display: none;
        position: relative;
        opacity: 1;
        text-align: left;
        background-color: $whitesmoke;
        border: 0;
        box-shadow: none;
        transition: none;
        transform: none;
      }
    }

    &__right {
      display: block;

      .social {
        position: absolute;
        opacity: 0;
        transform: translateY(50%);
        transition: .3s ease;
        padding: 5px 20px;

        &-button {
          display: block;
          cursor: pointer;
          margin: auto 10px;
          padding: 10px;
          font-size: 24px;
          outline: 0;
          background: transparent;
          border: 0;
        }

        &__item {
          display: block;
          padding: 0;
        }
      }

      .show {
        opacity: 1;
        transform: translateY(0%);
        z-index: 1;
      }
    }
  }

  .main-content {
    width: 760px;
    padding-right: 50px;

    .post {
      margin-bottom: 130px;

      &__header {
        width: 100%;
      }

      &__title {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 10px;
      }

      &__thumbnail {
        width: 50%;
      }

      &__description {
        width: 55%;
      }
    }
  }

  .instagram {
    .list-posts {
      margin-bottom: 30px;

      &__item {
        height: auto;
      }
    }
  }

  .footer {
    &-social {
      padding: 0;
    }
  }
}
